@use "../helpers/index" as *;
.card {
  &:has(.feedback-form) {
    border-bottom: var(--border);
  }
  &:has(.accordion) {
    border-bottom: var(--border) var(--color-dark-10);
  }
  @include tablet-above {
    display: grid;
    grid-template-columns: 38% auto;
  }
  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: var(--border);
    row-gap: fluid(60, 20);
    padding: rem(80);
    padding-left: 0;

    @include laptop {
      padding: rem(60);
    }
    @include tablet {
      padding-right: 0;
      padding-left: 0;
      padding-block: rem(50);
    }
    @include tablet {
      border-right: none;
      border-bottom: var(--border);
    }
  }

  &__preview-main {
    display: grid;
    row-gap: fluid(50, 20);

    @include tablet {
      justify-content: start;
    }
  }

  &__preview-img {
    width: fluid(80, 50);
  }

  &__preview-info {
    display: grid;
    row-gap: fluid(16, 6);
  }

  &__preview-title {
  }

  &__preview-subtitle {
  }

  &__preview-extra {
  }

  &__body {
    padding: rem(80);
    @include laptop {
      padding: rem(60);
    }
    @include tablet {
      padding: rem(30) rem(16);
    }
  }

  &__grid {
    display: grid;
  }

  &__grid--2-cols {
    gap: fluid(30, 10);
    grid-template-columns: repeat(2, 1fr);
  }

  &__grid--2-cols-alt {
    @include laptop {
      row-gap: rem(24);
      column-gap: rem(16);
    }

    @include mobile-above {
      grid-template-columns: auto 1fr;
      row-gap: rem(30);
      column-gap: rem(20);
    }
  }
  &__grid--3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(20);
    row-gap: rem(40);

    @include mobile {
      column-gap: rem(10);
      row-gap: rem(20);
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: fluid(20, 4);

    &--wide {
      grid-column: -1/1;
    }
    &:has(.card__cell-link) {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: rem(20);
      align-items: center;
      grid-template-areas:
        "body link"
        "extra link";
    }
    &:has(> *:only-child) {
      justify-content: center;
    }

    &-img {
      width: 100%;
      height: fluid(332, 169);
      object-fit: cover;
      border-radius: rem(12);

      @include laptop {
        border-radius: rem(10);
      }
    }
    &-link {
      grid-area: link;
    }
  }

  &__cell-title {
  }

  &__cell-description {
  }
}

.card__bottom {
  border-bottom: var(--border);
}
