@use "../helpers/index" as *;

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: rem(10);
  &::after {
    --size: #{rem(24)};

    @include square(var(--size));

    content: "";
    flex-shrink: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include laptop {
      --size: #{rem(20)};
    }
  }
}
.icon--yellow-arrow {
  &::after {
    background-image: url("../../img/header/arrow-yellow/arrow.svg");
  }
}
.icon--gray-arrow {
  &::after {
    background-image: url("../../img/header/arrow-yellow/Icon1.svg");
  }
}

.icon--yellow-eye {
  &::after {
    background-image: url("../../img/main/resource/eye-yellow.svg");
  }
}
