@use "../helpers/index" as *;

.footer {
  &__soc1als {
  }
}
.soc1als {
  &--3-cols {
    width: 100%;
    .soc1als {
      &__list {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(10);
        @include laptop {
          column-gap: rem(10);
        }
      }
      &__link {
        @include flex-center;
        height: rem(60);
        width: 100%;
        background-color: var(--color-dark-10);
        border: var(--border);
        border-radius: rem(6);

        @include laptop {
          height: rem(50);
        }
      }
    }
  }
  &__list {
    display: flex;
    column-gap: rem(20);

    @include laptop {
      column-gap: rem(14);
    }
  }

  &__item {
  }

  &__link {
    color: var(--color-light);
  }
}
